<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Parcels List</h1>
</div>

<!-- SEARCH FORM -->
<div class="card">

    <div class="card-header">
        <i class="fa fa-search"></i> Search
    </div>
    <div class="card-body">
        <form #searchForm="ngForm">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="Destination">Destination</label>
                        <input type="text" class="form-control" id="Destination" [(ngModel)]="search.Destination" name="Destination" #Destination="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="Height">Height (cm)</label>
                        <input type="number" class="form-control" id="Height" [(ngModel)]="search.Height" name="Height" #Height="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="Length">Length (cm)</label>
                        <input type="number" class="form-control" id="Length" [(ngModel)]="search.Length" name="Length" #Length="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="ParcelContents">Parcel Contents</label>
                        <input type="text" class="form-control" id="ParcelContents" [(ngModel)]="search.ParcelContents" name="ParcelContents" #ParcelContents="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="Status">Status</label>
                        <select name="Status" id="Status" [(ngModel)]="search.Status" class="form-control" #Status="ngModel">
                            <option value="Delivered">Delivered</option>
                            <option value="Failed">Failed</option>
                            <option value="Pending">Pending</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Type">Type</label>
                        <select name="Type" id="Type" [(ngModel)]="search.Type" class="form-control" #Type="ngModel">
                            <option value="Letter">Letter</option>
                            <option value="Parcel">Parcel</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Weight">Weight (kg)</label>
                        <input type="number" class="form-control" id="Weight" [(ngModel)]="search.Weight" name="Weight" #Weight="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="Width">Width (cm)</label>
                        <input type="number" class="form-control" id="Width" [(ngModel)]="search.Width" name="Width" #Width="ngModel">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TABLE -->
<table class="table mt-40">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Destination</th>
            <th scope="col">Height(cm)</th>
            <th scope="col">Length(cm)</th>
            <th scope="col">ParcelContents</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Weight(kg)</th>
            <th scope="col">Width(cm)</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list | search: { 'Destination': search.Destination, 'Height': search.Height, 'Length': search.Length, 'ParcelContents': search.ParcelContents, 'Status': search.Status, 'Type': search.Type, 'Weight': search.Weight, 'Width': search.Width }">
            <!-- ATTRIBUTES -->
            <td>
                <a [routerLink]="['/parcelses/', item._id]">{{item._id}}</a>
            </td>
            <td>{{item.Destination }}</td>
            <td>{{item.Height }}</td>
            <td>{{item.Length }}</td>
            <td>{{item.ParcelContents }}</td>
            <td>{{item.Status }}</td>
            <td>{{item.Type }}</td>
            <td>{{item.Weight }}</td>
            <td>{{item.Width }}</td>

            <!-- DELETE BUTTON -->
            <td>
                <button class="btn btn-danger text-center" data-toggle="modal" data-target="#deleteModal" (click)="selectId(item._id)">
                    <span>
                        <i class="fa fa-trash"></i>
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
    <div class="no-result" *ngIf="(list | search: {   'Destination': search.Destination ,  'Height': search.Height ,  'Length': search.Length ,  'ParcelContents': search.ParcelContents ,  'Status': search.Status ,  'Type': search.Type ,  'Weight': search.Weight ,  'Width': search.Width  }).length == 0">
        No items found
    </div>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want remove item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteItem()">YES</button>
            </div>
        </div>
    </div>
</div>

<!-- BUTTON -->
<button class="btn btn-primary text-center pull-right mb-20" routerLink="/parcelses/new">
    <span>
        <i class="fa fa-plus"></i>
    </span>
</button>

<div class="clearfix"></div>